node_modules/
.next/
out/
.env
.env.local
# Terraform state files
*.tfstate
*.tfstate.*
# Backup and log files
*.backup
*.log
# Terraform variable files
*.tfvars
# Local .terraform directory
.terraform/
my-portfolio/terraform/.terraform.lock.hcl
